---
import Main from "../layouts/Main.astro";
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
---

<Main>
    <Section>
        <Link href="https://www.linkedin.com/in/karolkrakowiak/" icon="fa-brands fa-linkedin" title="LinkedIn">
            LinkedIn
        </Link>
        <Link href="https://layers.to/krakowiak" icon="fa-kit fa-layers-to" title="Layers">
            Layers
        </Link>
        <Link href="https://github.com/krakowiak" icon="fa-brands fa-github" title="GitHub">
            GitHub
        </Link>
    </Section>
    <Section>
        <Link href="https://x.com/iamkrakowiak" icon="fa-brands fa-x-twitter" title="X">
            X
        </Link>
        <Link href="https://instagram.com/iamkrakowiak" icon="fa-brands fa-instagram" title="Instagram">
            Instagram
        </Link>
        <Link href="https://letterboxd.com/karol" icon="fa-kit fa-letterboxd" title="Letterboxd">
            Letterboxd
        </Link>
        <Link href="https://marathontv.app/u/karol" icon="fa-kit fa-marathontv" title="Marathon">
            Marathon
        </Link>
    </Section>
</Main>