---
import Main from "../layouts/Main.astro";
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
---

<Main>
    <Section>
        <Link href="https://x.com/iamkrakowiak" icon="fa-brands fa-x-twitter" title="X (formerly Twitter)">
            X (formerly Twitter)
        </Link>
        <Link href="https://www.threads.net/@iamkrakowiak" icon="fa-brands fa-threads" title="Threads">
            Threads
        </Link>
        <Link href="https://instagram.com/iamkrakowiak" icon="fa-brands fa-instagram" title="Instagram">
            Instagram
        </Link>
        <Link href="https://github.com/krakowiak" icon="fa-brands fa-github" title="GitHub">
            GitHub
        </Link>
        <Link href="https://letterboxd.com/karol" icon="fa-kit fa-letterboxd" title="Letterboxd">
            Letterboxd
        </Link>
        <Link href="https://www.anydistance.app/karol" icon="fa-kit fa-anydistance" title="Any Distance">
            Any Distance
        </Link>
        <Link href="https://naymee.com/user/iamkrakowiak" icon="fa-kit fa-naymee" title="Naymee">
            Naymee
        </Link>
    </Section>
</Main>