---
const { icon, ...props } = Astro.props;
---

<a
    {...props}
    target="_blank"
    class="sm:text-lg flex items-center transition-all underline underline-offset-2 text-slate-500 dark:text-slate-300 decoration-slate-300 dark:decoration-slate-600 hover:text-slate-900 hover:decoration-slate-900 dark:hover:text-white dark:hover:decoration-white"
>
    <span class="mr-1">
        <span
            class={`${icon} fa-fw fa-lg`}
            title={props.title}
            aria-hidden="true"></span>
        <span class="sr-only">{props.title}</span>
    </span>
    <slot />
</a>
