---
const {title} = Astro.props;
---

<section class="grid grid-cols-1 gap-3">
    {title &&
      <header class="text-center">
          <h2 class="text-sm uppercase font-medium tracking-widest text-slate-500">
              {title}
          </h2>
      </header>
    }
    <div class="grid grid-cols-1 gap-2">
        <slot/>
    </div>
</section>
