---
import Main from "../../layouts/Main.astro";
import Link from "../../components/Link.astro";
import Section from "../../components/Section.astro";
---

<Main lang="pl" url="https://karol.id/pl">
    <Section>
        <Link href="https://ladniejszyinternet.pl" icon="fa-kit fa-ladniejszy-internet dark:text-ladniejszyinternet"
              title="Ładniejszy Internet">
            Newsletter Ładniejszy Internet
        </Link>
        <Link href="https://karolkrakowiak.pl" icon="fa-kit fa-karolkrakowiak"
              title="Strona domowa – karolkrakowiak.pl">
            Strona domowa
        </Link>
    </Section>

    <Section>
        <Link href="https://twitter.com/iamkrakowiak" icon="fa-brands fa-x-twitter" title="X">
            X
        </Link>
        <Link href="https://www.threads.net/@iamkrakowiak" icon="fa-brands fa-threads" title="Wątki">
            Wątki (Threads)
        </Link>
        <Link href="https://instagram.com/iamkrakowiak" icon="fa-brands fa-instagram" title="Instagram">
            Instagram
        </Link>
        <Link href="https://layers.to/krakowiak" icon="fa-kit fa-layers-to" title="Layers">
            Layers
        </Link>
        <Link href="https://github.com/krakowiak" icon="fa-brands fa-github" title="GitHub">
            GitHub
        </Link>
        <Link href="https://www.filmweb.pl/user/kjkrakowiak" icon="fa-kit fa-filmweb" title="Filmweb">
            Filmweb
        </Link>
        <Link href="https://www.anydistance.app/karol" icon="fa-kit fa-anydistance" title="Any Distance">
            Any Distance
        </Link>
    </Section>
</Main>