---
import { Image } from "astro:assets";
import ProfileImage from '../images/karol.jpg';
const { lang, url } = Astro.props;
---

<html lang={lang ?? 'en'}>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Karol Krakowiak</title>
    <meta name="description" content="Karol Krakowiak – Designer & Web Developer"/>
    <meta property="og:url" content={url ?? 'https://krakowiak.me'}/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Karol Krakowiak"/>
    <meta property="og:description" content="Karol Krakowiak – Designer & Web Developer"/>
    <meta property="og:image" content="https://krakowiak.me/images/preview.jpg"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="twitter:domain" content="krakowiak.me"/>
    <meta property="twitter:url" content={url ?? 'https://krakowiak.me'}/>
    <meta name="twitter:title" content="Karol Krakowiak"/>
    <meta name="twitter:description" content="Karol Krakowiak – Designer & Web Developer"/>
    <meta name="twitter:image" content="https://krakowiak.me/images/preview.jpg"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,800&family=Figtree:wght@400;500&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/5e31d3fb3d.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="https://api.pirsch.io/pirsch-extended.js" id="pirschextendedjs"
            data-code="CvrEJEoyRIS1AbrakL300q15J6usWNo9"></script>
</head>
<body class="bg-slate-100 dark:bg-slate-900 text-slate-900 dark:text-white tracking-tight">
<main class="max-w-xl mx-auto px-4 py-10 grid grid-cols-1 gap-10">
    <header class="space-y-4">
        <figure>
            <Image src={ProfileImage} alt="Karol Krakowiak" width={128} height={128} densities={[2, 3]}
                   class="block rounded-3xl mx-auto w-32 border-4 border-white/20 -rotate-3 hover:rotate-0 transition duration-700 aspect-square shadow-lg shadow-slate-300 dark:shadow-black/10"/>
        </figure>
        <div class="font-heading text-center">
            <h1 class="text-xl xs:text-3xl lg:text-5xl font-extrabold leading-none">Karol Krakowiak</h1>
            <p class="xs:text-lg lg:text-xl text-slate-700 dark:text-slate-300 leading-tight">
                Designer & Web Developer
            </p>
        </div>
    </header>

    <slot/>

    <footer class="text-center text-slate-400 dark:text-slate-700">
        <i class="fa-kit fa-karolkrakowiak fa-xl" title="Karol Krakowiak"></i>
    </footer>
</main>
</body>
</html>